apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: redis-demo
  namespace: default
spec:
  maxReplicas: 4
  minReplicas: 2
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: redis-demo
  targetCPUUtilizationPercentage: 80
